<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>784456114698-vavuv4rehn3i2mhv0cm42m0hldrl97hm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.784456114698-vavuv4rehn3i2mhv0cm42m0hldrl97hm</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>784456114698-e77rfseh2a2jikt3k77rf97ihfn830hp.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyClDGZ3oqgYrytjFaiVw4JIrRyQEPUTpMY</string>
	<key>GCM_SENDER_ID</key>
	<string>784456114698</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.cocar</string>
	<key>PROJECT_ID</key>
	<string>co-car-tw9ggz</string>
	<key>STORAGE_BUCKET</key>
	<string>co-car-tw9ggz.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:784456114698:ios:a92397cf400939785835f3</string>
</dict>
</plist>